.Weather {
    background-color: red;
    color: white;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em; */
}

.NavBody {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
  }
